In [50]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [51]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

In [52]:
train_data["Cabin"]=train_data["Cabin"].fillna("Zero",inplace=True)
test_data["Cabin"]=test_data["Cabin"].fillna("Zero",inplace=True)

In [53]:
m=train_data.Age.mean()
train_data.Age=train_data.Age.fillna(m)
test_data.Age=test_data.Age.fillna(m)

In [54]:
test_data["Fare"] = test_data["Fare"].fillna(test_data['Fare'].mean())
train_data = train_data.dropna(subset=["Embarked"])

In [55]:
dummies=pd.get_dummies(train_data.Sex)
dummies1=pd.get_dummies(test_data.Sex)

In [56]:
train_data=pd.concat([train_data,dummies],axis=1)
train_data=train_data.drop(['Sex'],axis=1)
test_data=pd.concat([test_data,dummies1],axis=1)
test_data=test_data.drop(['Sex'],axis=1)

In [57]:
train_data

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,female,male
0,1,0,3,"Braund, Mr. Owen Harris",22.000000,1,0,A/5 21171,7.2500,None,S,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.000000,1,0,PC 17599,71.2833,None,C,1,0
2,3,1,3,"Heikkinen, Miss. Laina",26.000000,0,0,STON/O2. 3101282,7.9250,None,S,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.000000,1,0,113803,53.1000,None,S,1,0
4,5,0,3,"Allen, Mr. William Henry",35.000000,0,0,373450,8.0500,None,S,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",27.000000,0,0,211536,13.0000,None,S,0,1
887,888,1,1,"Graham, Miss. Margaret Edith",19.000000,0,0,112053,30.0000,None,S,1,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",29.699118,1,2,W./C. 6607,23.4500,None,S,1,0
889,890,1,1,"Behr, Mr. Karl Howell",26.000000,0,0,111369,30.0000,None,C,0,1
890,891,0,3,"Dooley, Mr. Patrick",32.000000,0,0,370376,7.7500,None,Q,0,1

In [58]:
#features = ["Pclass", "Sex", "SibSp", "Parch","Embarked", "Fare","Age"]
X = train_data[["Pclass", "female","male", "SibSp", "Parch","Embarked", "Fare","Age"]]
y = train_data["Survived"]
X_test =test_data[["Pclass", "female","male", "SibSp", "Parch","Embarked", "Fare","Age"]]
X

     Pclass  female  male  SibSp  Parch Embarked     Fare        Age
0         3       0     1      1      0        S   7.2500  22.000000
1         1       1     0      1      0        C  71.2833  38.000000
2         3       1     0      0      0        S   7.9250  26.000000
3         1       1     0      1      0        S  53.1000  35.000000
4         3       0     1      0      0        S   8.0500  35.000000
..      ...     ...   ...    ...    ...      ...      ...        ...
886       2       0     1      0      0        S  13.0000  27.000000
887       1       1     0      0      0        S  30.0000  19.000000
888       3       1     0      1      2        S  23.4500  29.699118
889       1       0     1      0      0        C  30.0000  26.000000
890       3       0     1      0      0        Q   7.7500  32.000000

[889 rows x 8 columns]

In [59]:
model=RandomForestClassifier()
model.fit(X,y)

ValueError: could not convert string to float: 'S'